# Week 12 - Earn-Back Points Assignment #2

These exercises are entirely optional, but they provide good practice. And you can use them to earn extra points toward your semester grade.  Completing all the questions in this assignment correctly will earn you back 8 points.

There will be 2 more assignments like this between now and the end of the semester, giving you the opportunity to earn back a total of 32 points.

**If anything about the above rules is unclear, please message me on Canvas or via email**

---

## Introduction

The Centers for Medicare and Medicaid Services (CMS) provides lots of information online including a general directory of hospitals in the US. For this set of exercises, we'll be working with a file referred to as [Hospital General Information](https://data.cms.gov/provider-data/dataset/xubh-q36u). **Download this file as a CSV and upload it to your week 13 directory on Jupyter.**

Each of these exercises will involve finding an answer to a specific question and then submitting that.  Your answers must be computed using Python code within this notebook to earn full credit.

You do not need to write functions to compute the answers and do not need to provide any special documentation. You can simply calculate the answers inline in the notebook and then submit your answers using the `answers` dictionary, similar to how most of our part 1 assignments work.

In [18]:
import pandas as pd
answers = {}
df = pd.read_csv('Hospital_General_Information.csv')

---

## Tips

Before you get started, I want to show you a pattern that you might find useful. In the example below, I'm going to summarize a simple data frame, determine which name occurs most often, how often that is, and what the percent of total that represents.  This can be a useful pattern in general and you should be able to apply it below.

In [2]:
df = pd.DataFrame([
    ['Boal','Paul',45],
    ['Boal','Anny',47],
    ['Boal','James',75],
    ['Lester','Sarahlynn',48],
    ['Lester','Carolynn',70]
], columns=['Last Name','First Name','Age'])

df

  Last Name First Name  Age
0      Boal       Paul   45
1      Boal       Anny   47
2      Boal      James   75
3    Lester  Sarahlynn   48
4    Lester   Carolynn   70

In [3]:
# Which family (based on Last Name) has the most people?

# 1. Group by Last Name
# 2. Count how many people are in each family
# 3. Sort by value


by_last_name = df.groupby('Last Name')
family_count = by_last_name['Last Name'].count()
family_sorted = family_count.sort_values(ascending=False)

family_sorted

Last Name
Boal      3
Lester    2
Name: Last Name, dtype: int64

In [4]:
# 4. Extract the "index" (aka Last Name)
# 5. Choose the first value

top_family = list(family_sorted.index)[0]
top_family

'Boal'

In [5]:
# How many members does that family have?

# 6. Choose that family from the counts we already computed.

family_count[top_family]

3

In [6]:
# What percent of total is that?

# 7. Compute a total
# 8. Compute the percent

total = family_count.sum()
pct = family_count[top_family] / total

pct

0.6

---

### E12.01

How many columns are there in this data frame?

In [20]:
df.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,0,10,1,NaN,8,8,NaN,12,9,NaN
1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,10,0,NaN,8,8,NaN,12,11,NaN
2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,Acute Care Hospitals,Proprietary,...,0,8,1,NaN,8,8,NaN,12,9,NaN
3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,6,0,NaN,8,8,NaN,12,5,NaN
4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,4,0,NaN,8,Not Available,5,12,5,NaN

In [7]:
answers['E12.01'] = "38"

### E12.02

How many hospitals are there in this file? (Each row is one hospital.)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5307 entries, 0 to 5306
Data columns (total 38 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Facility ID                                            5307 non-null   object
 1   Facility Name                                          5307 non-null   object
 2   Address                                                5307 non-null   object
 3   City                                                   5307 non-null   object
 4   State                                                  5307 non-null   object
 5   ZIP Code                                               5307 non-null   int64
 6   County Name                                            5307 non-null   object
 7   Phone Number                                           5307 non-null   object
 8   Hospital Type                                          5307 non-null   object
 9   Hospital Ownership                                     5307 non-null   object
 10  Emergency Services                                     5307 non-null   object
 11  Meets criteria for promoting interoperability of EHRs  3968 non-null   object
 12  Hospital overall rating                                5307 non-null   object
 13  Hospital overall rating footnote                       2252 non-null   object
 14  MORT Group Measure Count                               5307 non-null   object
 15  Count of Facility MORT Measures                        5307 non-null   object
 16  Count of MORT Measures Better                          5307 non-null   object
 17  Count of MORT Measures No Different                    5307 non-null   object
 18  Count of MORT Measures Worse                           5307 non-null   object
 19  MORT Group Footnote                                    1520 non-null   object
 20  Safety Group Measure Count                             5307 non-null   object
 21  Count of Facility Safety Measures                      5307 non-null   object
 22  Count of Safety Measures Better                        5307 non-null   object
 23  Count of Safety Measures No Different                  5307 non-null   object
 24  Count of Safety Measures Worse                         5307 non-null   object
 25  Safety Group Footnote                                  1810 non-null   object
 26  READM Group Measure Count                              5307 non-null   object
 27  Count of Facility READM Measures                       5307 non-null   object
 28  Count of READM Measures Better                         5307 non-null   object
 29  Count of READM Measures No Different                   5307 non-null   object
 30  Count of READM Measures Worse                          5307 non-null   object
 31  READM Group Footnote                                   1139 non-null   object
 32  Pt Exp Group Measure Count                             5307 non-null   object
 33  Count of Facility Pt Exp Measures                      5307 non-null   object
 34  Pt Exp Group Footnote                                  2053 non-null   object
 35  TE Group Measure Count                                 5307 non-null   object
 36  Count of Facility TE Measures                          5307 non-null   object
 37  TE Group Footnote                                      1011 non-null   object
dtypes: int64(1), object(37)
memory usage: 1.5+ MB

In [8]:
answers['E12.02'] = "5307"

### E12.03

How many hospitals from Missouri (state abbreviation MO) are in this file?

In [22]:
df['State'].value_counts()

TX    457
CA    372
FL    208
OH    195
IL    190
NY    184
PA    183
LA    158
GA    147
IN    146
MI    143
WI    138
KS    138
MN    136
OK    131
MO    119
TN    118
IA    117
NC    117
MS    103
WA    102
KY    101
AZ    100
AL     98
VA     93
CO     93
NE     91
AR     86
MA     79
NJ     79
SC     67
MT     63
OR     62
SD     59
PR     58
MD     55
UT     52
WV     50
NM     47
ID     47
NV     46
ND     46
ME     37
CT     36
NH     28
WY     27
AK     25
HI     25
VT     16
RI     12
DE     12
DC      9
VI      2
GU      2
AS      1
MP      1
Name: State, dtype: int64

In [9]:
answers['E12.03'] = "119"

### E12.04

How many different ZIP Codes from Misouri are represented in this file?

In [23]:
filter = df ['State'] == 'MO'
mo_zipcode = df[filter]
mo_zipcode.head()
mo_zipcode['ZIP Code'].value_counts()

63110    3
64108    3
65251    2
64116    2
63141    2
        ..
64683    1
65708    1
64429    1
65613    1
65536    1
Name: ZIP Code, Length: 109, dtype: int64

In [10]:
answers['E12.04'] = "109"

### E12.05

Which of those ZIP Codes has the most hospitals?  If it's a tie, submit your answer as a list of ZIP Codes.  Make sure your answer is submitted as a string or list of strings. Do not submit the ZIP Code values as numbers.

In [11]:
answers['E12.05'] = ""

### E12.06

Which state has the most hospitals?

In [24]:
df.groupby(['State']).count()

,Facility ID,Facility Name,Address,City,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,Emergency Services,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
State,,,,,,,,,,,,,,,,,,,,,
AK,25,25,25,25,25,25,25,25,25,25,...,25,25,25,10,25,25,15,25,25,5
AL,98,98,98,98,98,98,98,98,98,98,...,98,98,98,17,98,98,30,98,98,13
AR,86,86,86,86,86,86,86,86,86,86,...,86,86,86,16,86,86,42,86,86,15
AS,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
AZ,100,100,100,100,100,100,100,100,100,100,...,100,100,100,32,100,100,40,100,100,34
CA,372,372,372,372,372,372,372,372,372,372,...,372,372,372,68,372,372,86,372,372,68
CO,93,93,93,93,93,93,93,93,93,93,...,93,93,93,18,93,93,36,93,93,14
CT,36,36,36,36,36,36,36,36,36,36,...,36,36,36,9,36,36,10,36,36,10
DC,9,9,9,9,9,9,9,9,9,9,...,9,9,9,3,9,9,3,9,9,3
DE,12,12,12,12,12,12,12,12,12,12,...,12,12,12,6,12,12,6,12,12,6
FL,208,208,208,208,208,208,208,208,208,208,...,208,208,208,38,208,208,50,208,208,38
GA,147,147,147,147,147,147,147,147,147,147,...,147,147,147,33,147,147,57,147,147,20
GU,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,1
HI,25,25,25,25,25,25,25,25,25,25,...,25,25,25,12,25,25,13,25,25,4
IA,117,117,117,117,117,117,117,117,117,117,...,117,117,117,7,117,117,58,117,117,10
ID,47,47,47,47,47,47,47,47,47,47,...,47,47,47,13,47,47,21,47,47,5
IL,190,190,190,190,190,190,190,190,190,190,...,190,190,190,22,190,190,62,190,190,23
IN,146,146,146,146,146,146,146,146,146,146,...,146,146,146,32,146,146,51,146,146,31
KS,138,138,138,138,138,138,138,138,138,138,...,138,138,138,25,138,138,89,138,138,12
KY,101,101,101,101,101,101,101,101,101,101,...,101,101,101,13,101,101,38,101,101,11
LA,158,158,158,158,158,158,158,158,158,158,...,158,158,158,60,158,158,87,158,158,64
MA,79,79,79,79,79,79,79,79,79,79,...,79,79,79,21,79,79,24,79,79,22
MD,55,55,55,55,55,55,55,55,55,55,...,55,55,55,10,55,55,14,55,55,12
ME,37,37,37,37,37,37,37,37,37,37,...,37,37,37,5,37,37,8,37,37,4
MI,143,143,143,143,143,143,143,143,143,143,...,143,143,143,18,143,143,40,143,143,18
MN,136,136,136,136,136,136,136,136,136,136,...,136,136,136,39,136,136,58,136,136,15
MO,119,119,119,119,119,119,119,119,119,119,...,119,119,119,19,119,119,39,119,119,17
MP,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,1
MS,103,103,103,103,103,103,103,103,103,103,...,103,103,103,23,103,103,56,103,103,23
MT,63,63,63,63,63,63,63,63,63,63,...,63,63,63,24,63,63,41,63,63,12
NC,117,117,117,117,117,117,117,117,117,117,...,117,117,117,15,117,117,28,117,117,18
ND,46,46,46,46,46,46,46,46,46,46,...,46,46,46,14,46,46,37,46,46,4
NE,91,91,91,91,91,91,91,91,91,91,...,91,91,91,11,91,91,59,91,91,6
NH,28,28,28,28,28,28,28,28,28,28,...,28,28,28,2,28,28,6,28,28,2
NJ,79,79,79,79,79,79,79,79,79,79,...,79,79,79,16,79,79,17,79,79,16
NM,47,47,47,47,47,47,47,47,47,47,...,47,47,47,10,47,47,20,47,47,9
NV,46,46,46,46,46,46,46,46,46,46,...,46,46,46,15,46,46,22,46,46,13
NY,184,184,184,184,184,184,184,184,184,184,...,184,184,184,36,184,184,50,184,184,34
OH,195,195,195,195,195,195,195,195,195,195,...,195,195,195,48,195,195,66,195,195,47
OK,131,131,131,131,131,131,131,131,131,131,...,131,131,131,27,131,131,68,131,131,22
OR,62,62,62,62,62,62,62,62,62,62,...,62,62,62,5,62,62,14,62,62,4
PA,183,183,183,183,183,183,183,183,183,183,...,183,183,183,42,183,183,48,183,183,44
PR,58,58,58,58,58,58,58,58,58,58,...,58,58,58,16,58,58,55,58,58,31
RI,12,12,12,12,12,12,12,12,12,12,...,12,12,12,2,12,12,2,12,12,2
SC,67,67,67,67,67,67,67,67,67,67,...,67,67,67,10,67,67,19,67,67,11
SD,59,59,59,59,59,59,59,59,59,59,...,59,59,59,11,59,59,43,59,59,9
TN,118,118,118,118,118,118,118,118,118,118,...,118,118,118,28,118,118,45,118,118,25
TX,457,457,457,457,457,457,457,457,457,457,...,457,457,457,145,457,457,215,457,457,121
UT,52,52,52,52,52,52,52,52,52,52,...,52,52,52,8,52,52,18,52,52,7
VA,93,93,93,93,93,93,93,93,93,93,...,93,93,93,17,93,93,22,93,93,16
VI,2,2,2,2,2,2,2,2,2,2,...,2,2,2,0,2,2,0,2,2,1
VT,16,16,16,16,16,16,16,16,16,16,...,16,16,16,2,16,16,4,16,16,3
WA,102,102,102,102,102,102,102,102,102,102,...,102,102,102,27,102,102,44,102,102,22
WI,138,138,138,138,138,138,138,138,138,138,...,138,138,138,23,138,138,43,138,138,21
WV,50,50,50,50,50,50,50,50,50,50,...,50,50,50,10,50,50,18,50,50,6
WY,27,27,27,27,27,27,27,27,27,27,...,27,27,27,4,27,27,12,27,27,5

In [12]:
answers['E12.06'] = "TX"

### E12.07

How many different Hospital Types are there in this file?

In [25]:
df.groupby(['Hospital Type']).count()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Ownership,Emergency Services,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
Hospital Type,,,,,,,,,,,,,,,,,,,,,
Acute Care - Department of Defense,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,35,35
Acute Care Hospitals,3223,3223,3223,3223,3223,3223,3223,3223,3223,3223,...,3223,3223,3223,132,3223,3223,364,3223,3223,160
Childrens,91,91,91,91,91,91,91,91,91,91,...,91,91,91,91,91,91,91,91,91,91
Critical Access Hospitals,1359,1359,1359,1359,1359,1359,1359,1359,1359,1359,...,1359,1359,1359,282,1359,1359,964,1359,1359,126
Psychiatric,599,599,599,599,599,599,599,599,599,599,...,599,599,599,599,599,599,599,599,599,599

In [13]:
answers['E12.07'] = "5"

### E12.08

Which Hospital Type has the greatest number of files?

In [26]:
df.groupby(['Hospital Type']).count()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Ownership,Emergency Services,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
Hospital Type,,,,,,,,,,,,,,,,,,,,,
Acute Care - Department of Defense,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,35,35
Acute Care Hospitals,3223,3223,3223,3223,3223,3223,3223,3223,3223,3223,...,3223,3223,3223,132,3223,3223,364,3223,3223,160
Childrens,91,91,91,91,91,91,91,91,91,91,...,91,91,91,91,91,91,91,91,91,91
Critical Access Hospitals,1359,1359,1359,1359,1359,1359,1359,1359,1359,1359,...,1359,1359,1359,282,1359,1359,964,1359,1359,126
Psychiatric,599,599,599,599,599,599,599,599,599,599,...,599,599,599,599,599,599,599,599,599,599

In [14]:
answers['E12.08'] = "Acute Care Hospitals"

### E12.09

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) is represented in that Hospital Type?

In [15]:
answers['E12.09'] = ""

### E12.10

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) provide Emergency Services?

In [16]:
answers['E12.10'] = ""

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [17]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week12EB",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>7}{1:>30}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>7}{1:>30}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

     Q#                         Yours  Correct?
 E12.01                            38        OK
 E12.02                          5307        OK
 E12.03                           119        OK
 E12.04                           109        OK
 E12.05                                      NO
 E12.06                            TX        OK
 E12.07                             5        OK
 E12.08          Acute Care Hospitals        OK
 E12.09                                      NO
 E12.10                                      NO

## Submit your work to github in your week 13 folder by 12/5 11:59 PM